IoT-Chatbot-v1.json
[{"id":"6351d8b7.fefad8","type":"microPi","z":"b18cb99e.252168","name":"microPi","filename":"/home/pi/demo.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":580,"y":380,"wires":[["ea6407e4.590438"],["db560b13.566448","ae6823d9.4906"],["823ae768.744f88"]]},{"id":"a1bb9018.94106","type":"inject","z":"b18cb99e.252168","name":"record","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":520,"wires":[["6351d8b7.fefad8"]]},{"id":"8c2654d8.a47b58","type":"inject","z":"b18cb99e.252168","name":"stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":150,"y":560,"wires":[["6351d8b7.fefad8"]]},{"id":"81b4a0ac.1144d","type":"http in","z":"b18cb99e.252168","name":"","url":"/record","method":"post","swaggerDoc":"","x":170,"y":360,"wires":[["986884d9.7158c8"]]},{"id":"a9ab04a2.2cb8c8","type":"http in","z":"b18cb99e.252168","name":"","url":"/stop","method":"post","swaggerDoc":"","x":160,"y":400,"wires":[["986884d9.7158c8"]]},{"id":"986884d9.7158c8","type":"function","z":"b18cb99e.252168","name":"","func":"if(msg.payload.recording == \"true\") {\n    return {payload:true};\n} else if(msg.payload.recording == \"false\"){\n    return {payload:false};\n}\n","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["6351d8b7.fefad8"]]},{"id":"ea6407e4.590438","type":"debug","z":"b18cb99e.252168","name":"Raw L16 Wave Stream","active":false,"console":"false","complete":"true","x":910,"y":320,"wires":[]},{"id":"db560b13.566448","type":"debug","z":"b18cb99e.252168","name":"Wav File as a Buffer and metadata","active":false,"console":"false","complete":"true","x":940,"y":380,"wires":[]},{"id":"823ae768.744f88","type":"debug","z":"b18cb99e.252168","name":"Status Messages","active":false,"console":"false","complete":"true","x":890,"y":440,"wires":[]},{"id":"a8796183.518d1","type":"rpi-gpio in","z":"b18cb99e.252168","name":"","pin":"40","intype":"down","debounce":"1000","read":true,"x":150,"y":240,"wires":[["2507f57a.6fa93a"]]},{"id":"2507f57a.6fa93a","type":"function","z":"b18cb99e.252168","name":"","func":"if(msg.payload === 1)\n{ return {payload:true}; } \nelse \n{ return {payload:false}; }","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["6351d8b7.fefad8"]]},{"id":"ad4418ac.cef8b8","type":"comment","z":"b18cb99e.252168","name":"Watson IoT Chatbot","info":"","x":190,"y":100,"wires":[]},{"id":"ca999083.7a423","type":"comment","z":"b18cb99e.252168","name":"Manual Triggers","info":"","x":180,"y":480,"wires":[]},{"id":"e034c924.6a5da8","type":"play audio","z":"b18cb99e.252168","name":"","voice":"2","x":1410,"y":1400,"wires":[]},{"id":"ae6823d9.4906","type":"watson-speech-to-text","z":"b18cb99e.252168","name":"","continuous":true,"speakerlabels":false,"lang":"en-US","langhidden":"en-US","band":"BroadbandModel","bandhidden":"","password":"kC33PEJRoxl8","x":974.6299171447754,"y":638.4899940490723,"wires":[["1e5b1b00.cfaf15"]]},{"id":"2126f8d6.386b08","type":"watson-conversation-v1","z":"b18cb99e.252168","name":"IoT-Chatbot","workspaceid":"41dcc06d-964e-420d-8bdc-8346346b6ca2","multiuser":false,"context":true,"x":690,"y":1180,"wires":[["c5580be8.c49c58","c4ec1859.48e3b8","21d316d9.84484a"]]},{"id":"c5580be8.c49c58","type":"debug","z":"b18cb99e.252168","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":1140,"wires":[]},{"id":"db023706.404098","type":"comment","z":"b18cb99e.252168","name":"The Iot Chatbot with Watson Conversations","info":"{\n  \"url\": \"https://gateway.watsonplatform.net/conversation/api\",\n  \"password\": \"qUtAULrvRkoL\",\n  \"username\": \"34b7b50f-0d49-4e19-9c50-a19b43aa2be6\"\n}","x":630,"y":980,"wires":[]},{"id":"1e5b1b00.cfaf15","type":"change","z":"b18cb99e.252168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":680,"wires":[["2126f8d6.386b08","530cdc85.b7e474","ae7b2ed1.02bbd"]]},{"id":"530cdc85.b7e474","type":"debug","z":"b18cb99e.252168","name":"","active":false,"console":"false","complete":"payload","x":1310,"y":640,"wires":[]},{"id":"fb453b73.76e758","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn on the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1100,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"c4ec1859.48e3b8","type":"change","z":"b18cb99e.252168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"data","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"watson","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":1320,"wires":[["e034c924.6a5da8","ae7b2ed1.02bbd"]]},{"id":"92d64a9d.d999e8","type":"comment","z":"b18cb99e.252168","name":"Speech to Text with Watson","info":"{\n  \"url\": \"https://stream.watsonplatform.net/speech-to-text/api\",\n  \"password\": \"kC33PEJRoxl8\",\n  \"username\": \"c1e266cd-fe6a-4b16-94b9-7f11501d4432\"\n}","x":1060,"y":560,"wires":[]},{"id":"d4c62468.3f3f28","type":"rpi-gpio out","z":"b18cb99e.252168","name":"LED GREEN","pin":"7","set":true,"level":"0","out":"out","x":1650,"y":1700,"wires":[]},{"id":"153d31ed.195e8e","type":"rpi-gpio out","z":"b18cb99e.252168","name":"LED YELLOW","pin":"11","set":true,"level":"0","out":"out","x":1660,"y":1760,"wires":[]},{"id":"c21df6f5.7f0cb8","type":"rpi-gpio out","z":"b18cb99e.252168","name":"LED RED","pin":"12","set":true,"level":"0","out":"out","x":1640,"y":1820,"wires":[]},{"id":"cfd1df04.87af5","type":"rpi-gpio out","z":"b18cb99e.252168","name":"BUZZER","pin":"13","set":true,"level":"0","out":"out","x":1640,"y":1900,"wires":[]},{"id":"795f8ec1.e2145","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":1040,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"99d0b7d6.5cab78","type":"debug","z":"b18cb99e.252168","name":"Display Color","active":true,"console":"false","complete":"payload","x":1660,"y":1980,"wires":[]},{"id":"2fa9dc92.ab8f24","type":"inject","z":"b18cb99e.252168","name":"display color red","topic":"","payload":"Change the display color to red","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":1300,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"a2a5cf8.0c1283","type":"inject","z":"b18cb99e.252168","name":"display color yellow","topic":"","payload":"Change the display color to yellow","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1320,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"61dfd261.2490bc","type":"inject","z":"b18cb99e.252168","name":"display color green","topic":"","payload":"Change the display color to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1340,"wires":[["2126f8d6.386b08"]]},{"id":"9235ff40.47b36","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn on the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1120,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"13364356.71f61d","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn on the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1140,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"3f5080b9.46514","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn on the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1400,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"21d316d9.84484a","type":"function","z":"b18cb99e.252168","name":"Context Demultiplexer","func":"return  [\n            {payload:(msg.payload.context.led_green === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.led_yellow === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.led_red === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.buzzer === true ? \"1\" : \"0\")},\n            {payload:(msg.payload.context.diplay_color === true ? msg.payload.context.diplay_color : false)},\n            {data:msg.payload.context, topic:context}\n        ];\n","outputs":"6","noerr":0,"x":1240,"y":1780,"wires":[["d4c62468.3f3f28"],["153d31ed.195e8e"],["c21df6f5.7f0cb8"],["cfd1df04.87af5"],["99d0b7d6.5cab78"],["c4cc4ec2.a5b26"]]},{"id":"a0296339.6d9ec","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn off the green led","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1200,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"3bd80a1b.67f756","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn off the yellow led","payloadType":"str","repeat":"","crontab":"","once":false,"x":200,"y":1220,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"33242ae8.a538f6","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn off the red led","payloadType":"str","repeat":"","crontab":"","once":false,"x":190,"y":1240,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"6bd32ed5.93dbf","type":"inject","z":"b18cb99e.252168","name":"","topic":"","payload":"Turn off the buzzer","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.25,"y":1444.75,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"cbe13326.b52a9","type":"function","z":"b18cb99e.252168","name":"","func":"msg.params.context = \"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":980,"wires":[["2126f8d6.386b08","5e255384.181acc"]]},{"id":"1e9eadf4.9154b2","type":"inject","z":"b18cb99e.252168","name":"Reset Context","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":980,"wires":[["cbe13326.b52a9"]]},{"id":"55a8a0b9.f0346","type":"comment","z":"b18cb99e.252168","name":"Restful Triggers","info":"","x":180,"y":320,"wires":[]},{"id":"366a13d2.83dd9c","type":"comment","z":"b18cb99e.252168","name":"GPIO Trigger for Push to Talk","info":"","x":220,"y":200,"wires":[]},{"id":"261ca903.d50746","type":"comment","z":"b18cb99e.252168","name":"Recording Audio with MicroPi","info":"","x":640,"y":240,"wires":[]},{"id":"72af4356.9000ec","type":"comment","z":"b18cb99e.252168","name":"Demo Commands","info":"{\n  \"url\": \"https://gateway.watsonplatform.net/conversation/api\",\n  \"password\": \"qUtAULrvRkoL\",\n  \"username\": \"34b7b50f-0d49-4e19-9c50-a19b43aa2be6\"\n}","x":190,"y":940,"wires":[]},{"id":"79e76384.e6c0ac","type":"comment","z":"b18cb99e.252168","name":"Text to Speech and Playback in the Browser","info":"{\n  \"url\": \"https://gateway.watsonplatform.net/conversation/api\",\n  \"password\": \"qUtAULrvRkoL\",\n  \"username\": \"34b7b50f-0d49-4e19-9c50-a19b43aa2be6\"\n}","x":1290,"y":1260,"wires":[]},{"id":"b7d82217.2969b","type":"comment","z":"b18cb99e.252168","name":"Context Parsing and Output Logic","info":"{\n  \"url\": \"https://gateway.watsonplatform.net/conversation/api\",\n  \"password\": \"qUtAULrvRkoL\",\n  \"username\": \"34b7b50f-0d49-4e19-9c50-a19b43aa2be6\"\n}","x":1440,"y":1620,"wires":[]},{"id":"cd60ecdf.fe8f2","type":"debug","z":"b18cb99e.252168","name":"","active":true,"console":"false","complete":"payload","x":2470,"y":900,"wires":[]},{"id":"f549469e.ed7e58","type":"template","z":"b18cb99e.252168","name":"Convert to CSV","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{timestamp}},{{topic}},{{data}};","x":1960,"y":880,"wires":[["2a847cf0.868714","b830fb9d.cb2ec8","7f1d8b67.5d04d4"]]},{"id":"2a847cf0.868714","type":"debug","z":"b18cb99e.252168","name":"","active":true,"console":"true","complete":"true","x":2450,"y":860,"wires":[]},{"id":"5e255384.181acc","type":"change","z":"b18cb99e.252168","name":"","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"human","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1220,"wires":[["ae7b2ed1.02bbd"]]},{"id":"b830fb9d.cb2ec8","type":"file","z":"b18cb99e.252168","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2250,"y":940,"wires":[]},{"id":"bd78ef7b.ed8bb","type":"function","z":"b18cb99e.252168","name":"Join Data Streamsfile","func":"var context = this.context.flow;\ncontext.data = context.data || new Object();\n\n//Wait for information and store it when it comes\nswitch (msg.topic) {\n    case \"watson\":\n        context.data.watson = msg.watson;\n        context.data.context = msg.payload.context;\n        msg = null;\n        break;\n    case \"human\":\n        context.data.human = msg.human;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\n\n\n//When all the data bins are filled, send out the information in one clump\nif(context.data.human !== null && context.data.watson !== null) {\n    //create date object from timestamp injected in\n    var dt = new Date(); \n    context.data.timestamp = new Date().toString();\n\n    //Create Filename that data will be saved to\n    msg = new Object();\n    msg.filename = \"/home/pi/IoTChatbot-log.csv\";\n    msg.payload = context.data;\n\treturn msg;\n\tcontext.data=null;\n\t\n} else return null; //msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1980,"y":920,"wires":[[]]},{"id":"ae7b2ed1.02bbd","type":"function","z":"b18cb99e.252168","name":"Timestamp","func":"    //create date object from timestamp injected in\n    var dt = new Date(); \n    msg.timestamp = new Date().toString();\n\n    msg.filename = \"/home/pi/IoTChatbot-log.csv\";\n\treturn msg;","outputs":1,"noerr":0,"x":1530,"y":900,"wires":[["f549469e.ed7e58"]]},{"id":"7f1d8b67.5d04d4","type":"file in","z":"b18cb99e.252168","name":"","filename":"","format":"utf8","x":2250,"y":980,"wires":[["cd60ecdf.fe8f2"]]},{"id":"c4cc4ec2.a5b26","type":"json","z":"b18cb99e.252168","name":"","x":1310,"y":1860,"wires":[["ae7b2ed1.02bbd"]]}]